.main{
  font-family: 'Trebuchet MS', sans-serif;
}

.draggable {
  
  cursor: move; /* Indicates that the element can be dragged */
  transition: opacity 0.3s; /* Smooth transition if needed */
}

/* Ensure no unintended changes during dragging */
.draggable:active {
  opacity: 100;
  /* Optional: styling changes when the element is clicked but not during drag */
}
.fade-image {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.fade-image.show {
  opacity: 1;
}

.card_content
{
  padding: 20px;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.loading {
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
}

.loading2 {
  background: linear-gradient(110deg, #424242 8%, #5a5a5a 18%, #3d3d3d 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
}

.card__image {
  height: 200px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card__content {
  padding: 20px;
}

h2 {
  min-height: 30px;
  font-weight: bold;
  color: rgb(56,189,248);
}

p {
  min-height: 70px;
  width: 100%;
  color: rgb(61, 61, 61);
}
.tags
{
  font-weight:1000px;
  color: rgb(61, 61, 61);
}

.image-cover {
  width: 30px;  
  height: 30px;  
  object-fit: cover;  

}